{{#> layout}}
	{{#*inline "navbar"}}
		<header class="navbar-header">
			<nav class="navbar-nav">
				<a class="navbar-logo">
					Essidon
				</a>
				<ul>
					<li><a></a></li>
				</ul>
			</nav>
		</header>
	{{/inline}}
{{/layout}}