:root {
	--header-font: "Syncopate", sans-serif;
	--body-font: "Bitter", serif;
	--color-1: rgb(175, 76, 152);
	--color-2: rgb(213, 106, 160);
	--color-3: rgb(229, 167, 168);
	--color-4: rgb(241, 228, 185);
	--color-5: rgb(158, 247, 227);
	--gradient-background: radial-gradient(circle at 80% 20%, var(--color-4), var(--color-3), var(--color-2), var(--color-1));
}

body {
	max-width: 100vw;
	min-height: 100vh;

	display: flex;
	flex-direction: column;

	font-family: var(--body-font);
}

* {
	margin: 0;
	padding: 0;
}